$yellow : #ffc107;

.draw {
    overflow: hidden;
    position: relative;

    &::before, &::after {
        content: "";
        box-sizing: border-box;
        position: absolute;
        border: 2px solid transparent;
        border-radius:  10px;
        width: 0;
        height: 0;
    }

    &::before {
        top: 0;
        left: 0;
        border-top-color: $yellow;
        border-right: $yellow;
        animation: border 2s infinite;
    }

    &::after {
        bottom: 0;
        right: 0;
        animation: border 2s 1s infinite, borderColor 2s 1s infinite;
    }
}

@keyframes border {
    0% {
        width: 0;
        height: 0;
    }

    25% {
        width: 100%;
        height: 0;
    }

    50% {
        width: 100%;
        height: 100%;
    }

    100% {
        width: 100%;
        height: 100%;
    }
}

@keyframes borderColor {
    0% {
        border-bottom-color: $yellow;
        border-left-color: $yellow;
    }

    50% {
        border-bottom-color: $yellow;
        border-left-color: $yellow;
    }

    51% {
        border-bottom-color: transparent;
        border-left-color: transparent;
    }

    100% {
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
}