$gray : #999;
$rute-bg: url("../video/background.mp4");

* {
    margin: 0;
    padding: 0;
}

body {
    font: 16px Helvitica, Sans-Serif;
    line-height: 24px;
    background-image: $rute-bg;
    background-color: $bg;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.clear {
    clear: both;
}

#page-wrap {
    width: 800px;
    margin: 40px auto 60px;
}

#pic {
    float: right;
    margin: -30px 0 0 0;
}

h1 {
    margin: 0 0 16px 0;
    padding: 0 0 16px 0;
    font-size: 42px;
    font-weight: bold;
    letter-spacing: -2px;
    border-bottom: 1px solid $gray;
}

h2 {
    font-size: 20px;
    margin: 0 0 6px 0;
    position: relative;

    & span {
        position: absolute;
        bottom: 0;
        right: 0;
        font-style: italic;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 16px;
        color: $gray;
        font-weight: normal;
    }
}

p {
    margin: 0 0 16px 0;
}

a {
    color: $gray;
    text-decoration: none;
    border-bottom: 1px dotted $gray;

    &:hover {
        border-bottom-style: solid;
        color: black;
    }
}

ul {
    margin: 0 0 32px 17px;
}

#objetive {
    width: 500px;
    float: left;

    & p {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-style: italic;
        color: $gray;
    }
}

dt {
    font-style: italic;
    font-weight: bold;
    font-size: 18px;
    text-align: right;
    padding: 0 26px 0 0;
    width: 150px;
    float: left;
    height: 100px;
    border-right: 1px solid $gray;
}


dd {
    width: 600px;
    float: left;

    &.clear {
        float: none;
        margin: 0;
        height: 15px;
    }
}


