$aqua : #60daaa;
$yellow: #ffc107;
$bg: #333333;
$rute-bg: url("../video/background.mp4");

::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: white;
    font-family: "Kdam Throm Pro";
}

body {
    background-image: $rute-bg;
    background-color: $bg;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


#video_background {
    position: fixed;
    bottom: 0px;
    right: 0px;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    overflow: hidden;
}

header {
    padding: 5px 0px;
    padding-top: 15px;
    & .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 10px 10px 10px 1px rgba(0, 0, 0, 0.2);
    }

    & .logotipo {
        object-position: center;
        cursor: pointer;
        padding: 5px;
    }

    & nav a {
        padding: 0 15px;
        font-size: 1.2em;

        &:hover {
            color: $yellow;
            font-size: 1.3em;
            text-decoration: overline;
        }
    }

    & i {
        padding: 0px 5px;
    }

    & .checked {
        color: $yellow;
    }
}

footer {
    background-color: #000;
    padding: 91px 0px;
    text-align: center;
    color: gray;
}

.draw {
    overflow: hidden;
    position: relative;

    &::before, &::after {
        content: "";
        box-sizing: border-box;
        position: absolute;
        border: 2px solid transparent;
        border-radius:  10px;
        width: 0;
        height: 0;
    }

    &::before {
        top: 0;
        left: 0;
        border-top-color: $aqua;
        border-right: $aqua;
        animation: border 2s infinite;
    }

    &::after {
        bottom: 0;
        right: 0;
        animation: border 2s 1s infinite, borderColor 2s 1s infinite;
    }
}

@keyframes border {
    0% {
        width: 0;
        height: 0;
    }

    25% {
        width: 100%;
        height: 0;
    }

    50% {
        width: 100%;
        height: 100%;
    }

    100% {
        width: 100%;
        height: 100%;
    }
}

@keyframes borderColor {
    0% {
        border-bottom-color: $aqua;
        border-left-color: $aqua;
    }

    50% {
        border-bottom-color: $aqua;
        border-left-color: $aqua;
    }

    51% {
        border-bottom-color: transparent;
        border-left-color: transparent;
    }

    100% {
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
}

.container-main {
    padding: 10px 0px;
    font-size: 20px;
    margin: 15%;
    text-align: center;
    cursor: pointer;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 0px 0px 0px 10px #000;

    & h2 {
        font-family: 'Roboto Mono';
    }
}